<!-- <div *ngIf="courses.length > 0; then courseList else noCourses"></div>
  <ng-template #courseList>
    <h1>List of Courses</h1>
    <li *ngFor="let i of courses">{{ i }}</li>
  </ng-template>
<ng-template #noCourses>
  <h1>No Courses</h1>
</ng-template>
<div>
  <H2><u>Hidden Property</u></H2>
  <div [hidden]="courses.length == 0">There are Courses.</div>
  <div [hidden]="courses.length > 0">No Courses</div>
</div>
<div>
  <h2>ngSwitch Case Demo</h2>
  <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
  </ul>
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
  </div>
</div>

<div>
  <h3>ngIf Example</h3>
  <ul>
    <li *ngFor="let i of courseDetails; index as idx">
      {{idx+1}} {{ i.name }}
    </li>
  </ul>
</div>

<div>
  <button (click)="onLoadCourses()">Load Courses</button>
  <ul>
    <li *ngFor="let y of course; trackBy: trackCourse">
      {{y.name}}
    </li>
  </ul>
</div>

<div>
  <button 
    [ngStyle]="{
      'backgroundColor': canSave ? 'blue' : 'grey',
      'color': canSave ? 'white' : 'black',
      'fontWeight': canSave ? 'bold' : 'normal'
    }">
    Style Binding Button
  </button>
</div>

<div><br>
  <Input type="text" [appInputFormat]="'lowercase'" />
</div>

<div>
  <h2>ngForm Example</h2>
    <form #simpleForm="ngForm" (ngSubmit)="getFormData(simpleForm.value)">
      <input type="text" ngModel name="user" placeholder="Enter User name" />
      <br><br>
      <input type="tel" ngModel name="contact" placeholder="Enter Contact number"/>
      <br><br>
      <input type="text" ngModel name="address" placeholder="Enter Address"/>
      <br><br>
      <button>Submit</button>
    </form>
</div> -->

<zippy title="Shipping Details">
  Shipping Details Content
</zippy>